:root {
    --nav-background-color: #333;
    --nav-color: white;
    --footer-background-color: #D0D2B7;
    --footer-color: #6E6362;
    --footer-color: #D0D2B7;
}

.wireframe1 .navbar {
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.wireframe1 .main-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: stretch;
}
.wireframe1 .main-column {
    padding: 15px;
    margin: 10px;
    line-height: 50px;
    font-size: 2em;
    border-radius: 10px;
}
.wireframe1 .first-container {
    background-color: #D7D2B3;
    padding: 50px 50px;
}
.wireframe1 .first-container > p {
    margin-bottom: 60px;
    font-size: 25px;
    line-height: 40px;
}
.wireframe1 .second-container {
    background-color: white;
    padding: 50px 50px;
}
.wireframe1 .second-container h2 {
    color: #6E6362;
}
.wireframe1 .divide3 {
    background-color: white;
    height: fit-content;
    color: black;
    text-align: center;
    width: 30%;
    padding-bottom: 45px;
}
.wireframe1 .divide3 p {
    font-size: 23px;
    text-align: center;
    line-height: 40px;
}
.divide3 button {
    background-color: #F5F5F7;
    width: 200px;
    height: 80px;
    font-size: 30px;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #6E6362;
    border: solid #BEAF9C;
}
.wireframe1 .divide3 button:hover {
    background-color: #B4A186;
}
.wireframe1 .main-column h3 {
    margin: 0;
    font-size: 30px;
    text-align: center;
}
.wireframe1 .divide2 {
    width: 45%;
    min-height: fit-content;
    background-color: #B4A186;
    color: white;
    padding: 30px 30px;
    line-height: 30px;
}
.wireframe1 .divide2 p {
    text-align: left;
    font-size: 23px;
}
.wireframe1 .divide2 ol {
    font-size: 23px;
}
.wireframe1 .divide2 span {
    font-size: 23px;
}
.wireframe1 .divide2 a {
    font-size: 23px;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 500;
}
.wireframe1 .divide2 a:hover {
    text-decoration: underline;
}
.wireframe1 .divide2 a.dropbtn {
    background-color: transparent;
    color: rgb(150, 126, 118);
    border: none;
    cursor: pointer;
}
.wireframe1 .dropdown {
    position: relative;
    display: inline-block;
}
.wireframe1 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top: solid black;
    width: 160px;
    font-size: 16px;
}
.dropdown-content a {
    color: rgb(150, 126, 118);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.footer-row {
    display: flex;
    align-items: center;
    padding: 30px 0px;
}
.footer-row a {
    color: #6E6362;
    text-decoration: none;
}
.footer-row a:visited {
    text-decoration: none;
    color: #6E6362;
}
.footer-row a:hover {
    text-decoration: underline;
}
.footer-column {
    align-items: center;
}
.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.flex-start {
    justify-content: flex-start;
}
.center {
    justify-content: center;
}
/* ELEMENTS */

body {
    font-family: Avenir, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.wireframe1 nav {
    margin: 0;
    padding: 10px 30px 10px 30px;
    background-color: var(--nav-background-color);
    color: var(--nav-color);
    position: fixed;
    right: 0px;
    left: 0px;
    display: flex;
}
.wireframe1 nav img {
    margin: 5px 0;
}
.wireframe1 nav button {
    height: 50px;
    background-color: transparent;
    border: none;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--nav-color);
    padding: 2px 2px;
    border-radius: 5px;
    font-weight: 800;
    width: 125px;
}
.wireframe1 nav button:hover {
    background-color: #B4A186;
}
.wireframe1 header {
    background-image: url('/images/background-white.jpg');
    margin: 0;
    padding: 150px 50px 100px;
    color: #6E6362;
}
.wireframe1 header h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 70px;
    font-weight: 900;
}
.wireframe1 header p {
    font-size: 25px;
}
.wireframe1 header button {
    width: 280px;
    height: 100px;
    font-size: 30px;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 20px;
    color: #6E6362;
    margin-top: 30px;
}
.wireframe1 header button:hover {
    background-color: #B4A186;
}
.wireframe1 main {
    color: rgb(150, 126, 118);
    padding: 0;
    margin: 0;
}
.wireframe1 main h2 {
    margin: 0;
    margin-bottom: 35px;
    padding-bottom: 0;
    font-size: 45px;
    color: #6E6362;
}
footer {
    background-color: var(--footer-background-color);
    color: #6E6362;
    padding: 0px 50px;
}
.wireframe1 #about-us {
    margin-left: 100px;
}
.wireframe1 #divide2 {
    height: 300px;
}

#seperator {
    border: solid #6E6362;
}
#corporate {
    margin-left: 7px;
    border-left: solid #6E6362;
    padding-left: 7px;
}

.wireframe2 header {
    background-color: #f2f2f2;
    background-image: url(../images/Background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 100px 50px 150px;
    align-items: center;
}
.wireframe2 header h1{
    font-size: 70px;
    margin: 0;
    font-weight: 900;
}

.wireframe2 header p{
    font-size: 25px;
}
.wireframe2 nav {
    width: 13%;
    background-color: #333;
    color: white;
}

.wireframe2 main{
    width: 87%;
}
#seperator {
    border: solid #6E6362;
}
.wireframe2 .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

.wireframe2 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.wireframe2 button {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.wireframe2 button:hover {
    background-color: #555;
}

.footer-nav a {
    font-weight: 600;
    margin-right: 30px;
}

.wireframe2 .section2 {
    background-color: #ECDFCC;
    padding: 80px 3%;
}

.wireframe2 .content-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wireframe2 .section2 h2 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
}

.wireframe2 .content-box {
    background-color: white;
    width: 27%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}

.wireframe2 .intro {
    padding: 30px 40px;
    text-align: left;
    margin: 0;
}
.wireframe2 .intro h2{
    font-size: 40px;
}
.wireframe2 .intro p{
    line-height: 40px;
    font-size: 20px;
}

.wireframe2 .section2 h2{
    font-size: 40px;
}

.wireframe2 .content-columns2 {
    padding: 2%;
}

.wireframe2 .content-box2 {
    background-color: #e4e4e4;
    border-radius: 10px;
    line-height: 25px;
    padding: 25px;
    width: 45%;
}

.content-box2 a{
    color: black;
    font-weight: 800;
    text-decoration: none;
}

.content-box2 a:hover{
    text-decoration: underline;
}

.wireframe2 .content-row2 {
    margin-bottom: 40px;
}

.wireframe2 .content-row2 > h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.wireframe2 #about-us{
    margin-top: 15px;
}

.wireframe2 #login{
    margin-top: 15px;
}