:root {
    --nav-background-color: #333;
    --nav-color: white;
    --footer-background-color: #ECDFCC;
    --footer-color: #6E6362;
    --footer-color: #D0D2B7;
}

body, .contact-body {
    font-family: Avenir, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.wireframe1 .navbar {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.wireframe1 .main-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: stretch;
}

.wireframe1 .main-column {
    padding: 15px;
    margin: 10px;
    line-height: 50px;
    font-size: 2em;
    border-radius: 10px;
}

.wireframe1 .first-container {
    background-color: #ECDFCC;
    padding: 50px 50px;
}

.wireframe1 .first-container > p {
    margin-bottom: 60px;
    font-size: 25px;
    line-height: 40px;
}

.wireframe1 .second-container {
    background-color: white;
    padding: 50px 50px;
}

.wireframe1 .second-container h2 {
    color: #333;
}

.wireframe1 .divide3 {
    background-color: white;
    height: fit-content;
    color: black;
    text-align: center;
    width: 30%;
    padding-bottom: 45px;
}

.wireframe1 .divide3 p {
    font-size: 23px;
    text-align: center;
    line-height: 40px;
}

.wireframe1 .main-column h3 {
    margin: 0;
    font-size: 30px;
    text-align: center;
}

.wireframe1 .divide2 {
    width: 45%;
    min-height: fit-content;
    background-color: #B4A186;
    color: white;
    padding: 30px 30px;
    line-height: 30px;
}

.wireframe1 .divide2 p {
    text-align: left;
    font-size: 20px;
}

.wireframe1 .divide2 ol {
    font-size: 20px;
}

.wireframe1 .divide2 span {
    font-size: 20px;
}

.wireframe1 .divide2 a {
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 500;
}

.wireframe1 .divide2 a:hover {
    text-decoration: underline;
}

.wireframe1 .divide2 a.dropbtn {
    background-color: transparent;
    color: rgb(150, 126, 118);
    border: none;
    cursor: pointer;
}

.wireframe1 .dropdown {
    position: relative;
    display: inline-block;
}

.wireframe1 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top: solid black;
    width: 160px;
    font-size: 16px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.dropdown-content a {
    color: rgb(150, 126, 118);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer-row {
    display: flex;
    flex-direction: row;
    padding: 30px 0px;
    justify-content: space-between;
    text-align: center;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-nav-width {
    width: 20%;
}

.footer-row a {
    color: #6E6362;
    text-decoration: none;
}

.footer-row a:visited {
    text-decoration: none;
    color: #6E6362;
}

.footer-row a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

/* ELEMENTS */
.wireframe1 nav {
    margin: 0;
    padding: 10px 30px 10px 30px;
    background-color: var(--nav-background-color);
    color: var(--nav-color);
    position: fixed;
    right: 0px;
    left: 0px;
    display: flex;
}

.wireframe1 nav img {
    margin: 5px 0;
}

.wireframe1 nav button {
    height: 50px;
    background-color: transparent;
    border: none;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--nav-color);
    padding: 2px 2px;
    border-radius: 5px;
    font-weight: 800;
    width: 125px;
}

.wireframe1 nav button:hover {
    background-color: #B4A186;
}

.wireframe1 header {
    background-image: url(../images/header_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #e4e4e4;
    margin: 0;
    padding: 170px 50px 150px;
}

.wireframe1 header h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 70px;
    font-weight: 900;
    color: var(--nav-background-color);
}

.wireframe1 header p {
    font-size: 20px;
}

.wireframe1 header button {
    width: 280px;
    height: 100px;
    font-size: 30px;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 20px;
    color: #333;
    margin-top: 100px;
}

.wireframe1 header button:hover {
    background-color: #B4A186;
}

.wireframe1 main {
    margin: 0;
    padding: 0;
    color: #333;
}

.wireframe1 main h2 {
    margin: 0;
    margin-bottom: 35px;
    padding-bottom: 0;
    font-size: 45px;
    color: #333;
}

footer {
    background-color: var(--footer-background-color);
    color: #6E6362;
    padding: 0px 50px;
}

footer span {
    text-align: center;
}

.wireframe1 #about-us {
    margin-left: 100px;
}

.wireframe1 #divide2 {
    height: 300px;
}

#seperator {
    border: solid #6E6362;
}

#corporate {
    text-align: center;
}

/* --------------------- Media Queries --------------------- */

/* For Mobile Devices (max-width: 768px) */
@media (max-width: 768px) {
    .wireframe1 .main-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .wireframe1 .main-column {
        font-size: 1.5em;
        margin: 10px 0;
    }

    .wireframe1 .divide3 {
        width: 100%;
        margin-bottom: 20px;
    }

    .wireframe1 .divide2{
        width: 100%;
        margin-bottom: 20px;
    }
    .wireframe1 header {
        padding: 120px 20px 100px;
        color: #5f5f5f;
    }

    .wireframe1 header h1 {
        font-size: 45px;
        color: #4F4F4F;
    }

    .wireframe1 header button {
        width: 200px;
        height: 80px;
        font-size: 24px;
        margin-top: 60px;
    }

    footer {
        padding: 20px;
    }

    .footer-row {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 20px;
        width: 100%;
    }

    .wireframe1 nav {
        flex-direction: column;
        padding: 10px;
    }

    .wireframe1 nav button {
        width: 100%;
        font-size: 14px;
    }

    .wireframe1 .main-row,
    .wireframe1 .main-column {
        padding: 15px;
    }

    .align-left, .align-right{
        text-align: center;
    }
}

/* For Desktop Devices (min-width: 769px) */
@media (min-width: 769px) {
    .wireframe1 .main-row {
        flex-direction: row;
        justify-content: space-between;
    }

    .wireframe1 .main-column {
        font-size: 2em;
    }

    .wireframe1 .divide3 {
        width: 30%;
    }

    .wireframe1 header h1 {
        font-size: 70px;
    }

    .wireframe1 header button {
        width: 280px;
        height: 100px;
        font-size: 30px;
    }

    .footer-row {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }

    .footer-column {
        width: 30%;
    }
}

.checker main{
    background-color: #B4A186;
}

.checker main h1{
    margin: 0;
    padding: 10px;
}
.checker .main-column{
    padding: 20px;
}
.checker #left{
    width: 60%;
    margin: solid black;
}

.checker #right{
    width: 40%;
    margin: solid black;

}
.checker #pseudocode_input_label{
    margin-bottom: 5px;
}

.checker table{
    width: fit-content;
}

.checker table tr{
    vertical-align: top;
    padding: 5px;
}

.checker #errors td:first-child {
    white-space: nowrap;
}
  
.checker #errors td:nth-child(2) {
    white-space: normal; /* Ensures text wraps */
    word-wrap: break-word; /* Allows long words to break and wrap */
}
.checker #pseudocode-container {
    display: flex;
    width: 100%;
}

.checker input[type="button"] {
    font-size: 16px;
    padding: 12px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
}

.checker input{
    margin-right: 10px;
    margin-top: 10px;
}

.checker #check {
    background-color: #4CAF50;
}

.checker #clear {
    background-color: #f44336;
}

.checker #copy {
    background-color: #008CBA;
}

.checker input[type="button"]:hover {
    transform: translateY(-2px);
}

.checker #check:hover {
    background-color: #45a049;
}

.checker #clear:hover {
    background-color: #e53935;
}

.checker #copy:hover {
    background-color: #007bb5;
}

.checker select, .checker textarea {
    font-size: 16px;
    padding: 10px;
    margin: 10px 0px 10;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.checker #pseudocode-container {
    margin-top: 20px;
}

.checker #line-numbers {
    margin: 0;
    min-height: 70dvh;
    text-align: right;
    padding: 10px 10px 10px 0px;
    font-family: monospace;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
    color: #555;
    user-select: none;
    width: 50px; /* Fixed width for line numbers */
    line-height: 20px; /* Same line-height as the text area */
    white-space: pre-wrap; /* Ensures line numbers wrap correctly with line breaks */
    display: flex;
    flex-direction: column;
}

.checker #pseudocode_input {
    min-height: 70dvh;
    padding: 10px;
    line-height: 1.5;
    font-family: monospace;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    line-height: 20px; /* Same line-height as the line numbers */
    padding-left: 10px; /* Adds space to the left to prevent text overlap */
}

.contact-button{
    text-decoration: none;
    color: white;
    padding: 15px;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.contact-button:hover{
    background-color: #B4A186;
    border-radius: 5px;
}

.contact{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin: 0%;
    padding: 25px;
}


.contact-body nav{
    background-color: var(--nav-background-color);
    position: fixed;
    right: 0px;
    left: 0px;
    list-style: none;
}

.contact-main h1{
    margin-top: 80px;
}

.contact li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 800;
    padding: 15px;
}

.contact li a:hover{
    background-color: #B4A186;
    padding: 15px;
    border-radius: 5px;
}

form div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input, .textarea, .button {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
}

.button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.button:hover {
    background: #555;
}

.contact-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

.contact-main {
    flex: 1; 
    padding: 20px;
    background-image: url(../images/form-background-image.jpg); /*https://img.freepik.com/free-photo/pleased-hear-best-friend-calling-from-abroad-portrait-surprised-pleased-charming-blonde-female_1258-253303.jpg?t=st=1733616502~exp=1733620102~hmac=f703b459bb1be990deba9a3bd41bc3285898e06b8cc769468379a2d633e7ed8f&w=2000 */
    background-size: cover;
}

.textarea{
    height: 300px;
}


.about-us nav{
    background-color: var(--nav-background-color);
    position: fixed;
    right: 0px;
    left: 0px;
    list-style: none;
}

.about-us nav {
    background-color: #333;
}

.about-us nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.about-us nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.about-us header {
    padding: 20px;
    padding-top: 100px;
    background-color: #f4f4f4;
    text-align: center;
}

.about-us main {
    padding: 20px;
    padding-bottom: 100px; 

}

.about-us #mission, #team {
    margin-bottom: 30px;
}

.about-us .slideshow {
    position: relative;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.about-us .slide {
    display: none;
}

.about-us .slide img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-us button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.about-us button:hover {
    background-color: #555;
}

.about-us footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#examples{
    margin-top: 20px;
}

.main-about{
    background-color: #ECDFCC;
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding: 10px 0;
        font-size: 14px;
    }

    header h1 {
        font-size: 24px;
    }

    .slideshow {
        max-width: 100%;
        padding: 10px;
    }

    .slide img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    button {
        width: 100%;
        font-size: 14px;
    }

    footer {
        position: relative;
        padding: 15px;
    }

    body {
        font-size: 14px;
    }
    .contact-main {
        background-image: none;
        background-color: #979fa2;
    }
    .input, .textarea, .button{
        width: 100%;
    }
    .contact li a{
        font-size: 12.5px;
        font-weight: 900;
    }
    .checker label{
        margin-bottom: px;
    }
    .checker input[type="button"] {
        font-size: 12px;
        padding: 10px 16px;
        color: white;
    }
}

/* For Desktop Devices (larger than 768px) */
@media (min-width: 769px) {
    nav ul {
        flex-direction: row;
        align-items: center;
    }

    nav a {
        padding: 10px 20px;
        font-size: 16px;
    }

    header h1 {
        font-size: 32px;
    }

    .slideshow {
        max-width: 800px;
    }

    button {
        font-size: 16px;
    }
}


