.navbar {
    display: flex;
    padding: 0px;
    margin: 0px;
}
.main-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: stretch;
}
.main-column {
    padding: 15px;
    margin: 10px;
    line-height: 50px;
    font-size: 2em;
    border-radius: 10px;
}

.first-container {
    background-color: #D7D2B3;
    padding: 50px 50px;
}
.first-container > p{
    margin-bottom: 60px;
    font-size: 25px;
    line-height: 40px;
}
.second-container {
    background-color: white;
    padding: 50px 50px;
}

.second-container h2{
    color: #6E6362;
}

.divide3 {
    background-color: white;
    height: 300px;
    color: #BEAF9C;
    text-align: center;
    width: 30%;
}

.divide3 p{
    font-size: 23px;
    text-align: center;
    line-height: 40px;
}
.divide3 button{
    background-color: #F5F5F7;
    width: 200px;
    height: 80px;
    font-size: 30px;
    font-family: avenir, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #6E6362;
    border: solid #BEAF9C;
}

.divide3 button:hover{
    background-color:#B4A186;
}

.main-column h3 {
    margin: 0;
    font-size: 30px;
    text-align: center;
}

.divide2{
    width: 45%;
    min-height: fit-content;
    background-color: #B4A186;
    color: white;
    padding: 30px 30px;
    line-height: 30px;
}

.divide2 p{
    text-align: left;
    font-size: 23px;
}

.divide2 ol{
    font-size: 23px;
}
.dropbtn {
    background-color: transparent;
    color: rgb(150, 126, 118);
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top: solid black;
    width: 160px;
    font-size: 16px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(150, 126, 118);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.footer-row{
    display: flex;
    align-items: center;
    padding: 30px 0px;
}

.footer-row a{
    color: #6E6362;
    text-decoration: none;
}
.footer-row a:visited{
    text-decoration: none;
    color: #6E6362;
}
.footer-row a:hover{
    text-decoration: underline;
}

.footer-column{
    align-items: center;
}
.footer-nav a{
    font-weight: 600;
    margin-right: 30px;
}

.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.flex-start{
    justify-content: flex-start;
}

body {
    font-family: Avenir, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    margin: 0;
    padding: 10px 30px 10px 30px;
    background-color: #D0D2B7;
    color: #6E6362;
    position: fixed;
    right: 0px;
    left: 0px;
}

nav button {
    height: 50px;
    background-color: transparent;
    border: none;
    font-family: Avenir, Palatino;
    font-size: 16px;
    color: rgb(150, 126, 118);
    padding: 2px 2px;
    border-radius: 5px;
    font-weight: 800;
    width: 125px;

}

nav button:hover{
    background-color: white;
}

header {
    background-image: url('/images/background-white.jpg');
    margin: 0;
    padding: 150px 50px 100px;
    color: #6E6362;
}

header h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 70px;
    font-weight: 900;
}

header p {
    font-size: 25px;
}

header button{
    width: 280px;
    height: 100px;
    font-size: 30px;
    font-family: avenir;
    font-weight: 600;
    border-radius: 20px;
    color: #6E6362;
    margin-top: 30px;
}

header button:hover{
    background-color: #B4A186;
}

main {
    color: rgb(150, 126, 118);
    padding: 0;
    margin: 0;
}

main h2 {
    margin: 0;
    margin-bottom: 35px;
    padding-bottom: 0;
    font-size: 45px;
    color: #6E6362;
}
footer {
    background-color: #D0D2B7;
    color: #6E6362;
    padding: 0px 50px;
}

#about-us {
    margin-left: 100px;
}

#divide2 {
    height: 300px;
}


#seperator{
    border: solid #6E6362;
}

#corporate{
    margin-left: 7px;
    border-left: solid #6E6362;
    padding-left: 7px;
}