<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wireframe1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/checker.css">
    <link rel="icon" type="image/x-icon" href="./images/rabbit_logo.png"> <!-- https://www.iconsdb.com/white-icons/rabbit-icon.html-->
</head>

<body>
    <nav>
    </nav>
    <header>
    </header>  
    <main>
        Hello <%= text%>
        <form id="">
            <input type="text" id="input" name="input" placeholder="Enter your pseudocode"><br>
            <button>Submit</button>
        </form>
    </main>
    <footer>
    </footer>
</body>
<script src="../js/main.js"></script>
</html>